html, body {
  margin: 0;
  padding: 0;
  font-family: 'Fredericka the Great', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Nixie One', cursive;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Fredoka One', cursive;
}
canvas {
  display: block;
}
